/* @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Markazi+Text:wght@400;500;600;700&display=swap');

:root {
    --background-light: #F0F8FF;
    --text-light: #131313;
    --text--hi-light: #BCB1FF;
    --border-light: #4C0BCE;

    --background-dark: #131313;
    --text-dark: #FFFFFF;
    --text--hi-dark: #713BDD;
    --border-dark: #4C0BCE;


}

.light-theme {
    --background: var(--background-light);
    --text: var(--text-light);
    --text-hi: var(--text--hi-light);
    --border: var(--border-dark);
}

.dark-theme {
    --background: var(--background-dark);
    --text: var(--text-dark);
    --text--hi: var(--text--hi-dark);
    --border: var(--border-dark);
}

/* common */

p {
    margin-bottom: 0;
}

.d-f {
    display: flex;
}

.d-js {
    justify-content: start;
}

.d-jc {
    justify-content: center;
}

.d-jb {
    justify-content: space-between;
}

.d-je {
    justify-content: end;
}

.d-as {
    align-items: start;
}

.d-ac {
    align-items: center;
}

.d-ab {
    align-items:baseline;
}

.d-ae {
    align-items: end;
}